.virtual-scroll-list-item {
  width: 100%;
  position: absolute;
}

#virtual-scroll-window {
  max-height: 500px; /* Adjust as needed */
  overflow-y: auto;
}

#virtual-scroll-content {
  position: relative;
  height: fit-content;
}
